--extra-index-url https://pypi.ngc.nvidia.com --trusted-host https://pypi.ngc.nvidia.com
Pillow == 9.5.0
networkx == 2.8.0
transformers==4.29.2
decorator==4.4.2
openai
black
selenium
moviepy
scipy
TTS
espeakng
setuptools
wheel
nvidia-cuda-runtime-cu12
pytube